body {
    background-color: white;
    color: MediumSeaGreen;
    padding: 14px 25px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

h1 {
    background-color: DodgerBlue;
    color: #FFCC66;
}
